@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}

#home section + section,
#home section + div,
#home div + div,
#home div + section {
  border-top: 0 !important;
  border-left: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* 新增 WTF 2024 Light mode 变量 */
    --wtf-black: 0 0% 12%;
    --wtf-white: 0 0% 100%;

    --wtf-brand-primary: 221 97% 53%;
    --wtf-brand-secondary: 223 63% 54%;
    --wtf-brand-bg: 221 74% 92%;
    --wtf-brand-primary-light: rgba(19, 91, 251, 0.1);

    --wtf-text-1: 220 18% 13%;
    --wtf-text-2: 214 24% 17%;
    --wtf-text-3: 220 9% 46%;
    --wtf-text-4: 218 11% 65%;
    --wtf-text-inverted: 0 0% 100%;
    --wtf-text: 0 0% 12%;
    --wtf-text-link: 223 63% 54%;

    --wtf-bg-primary: 0 0% 100%;
    --wtf-bg-gray: 220 14% 96%;
    --wtf-bg-code: 210 20% 98%;
    --wtf-bg-mask: rgba(18, 18, 18, 0.36);
    --wtf-bg-nav: rgba(243, 244, 246, 0.36);
    --wtf-bg-black-light: rgba(18, 18, 18, 0.16);
    --wtf-bg-black-lighter: rgba(18, 18, 18, 0.08);

    --wtf-border-divider: 216 12% 84%;
    --wtf-border-line: 220 13% 91%;
    --wtf-border-outline: 216 12% 84%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* 新增 WTF 2024 Dark mode 变量 */
    --wtf-brand-primary: 221 97% 53%;
    --wtf-brand-secondary: 223 63% 54%;
    --wtf-brand-bg: 227 76% 28%;
    --wtf-brand-primary-light: rgba(19, 91, 251, 0.24);

    --wtf-text-1: 210 20% 98%;
    --wtf-text-2: 216 12% 84%;
    --wtf-text-3: 218 11% 65%;
    --wtf-text-4: 215 14% 34%;
    --wtf-text-inverted: 0 0% 12%;
    --wtf-text: 0 0% 100%;
    --wtf-text-link: 222 100% 76%;

    --wtf-bg-primary: 0 0% 7%;
    --wtf-bg-gray: 220 18% 13%;
    --wtf-bg-code: 220 18% 13%;
    --wtf-bg-mask: rgba(18, 18, 18, 0.5);
    --wtf-bg-nav: rgba(18, 18, 18, 0.36);
    --wtf-bg-black-light: rgba(243, 244, 246, 0.16);
    --wtf-bg-black-lighter: rgba(243, 244, 246, 0.08);

    --wtf-border-divider: 217 19% 27%;
    --wtf-border-line: 214 24% 17%;
    --wtf-border-outline: 214 24% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
